<!DOCTYPE html>
<html>
<head>
  <title>ExampleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :header_scripts %>

  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= yield %>

<%= yield :footer_scripts %>
</body>
</html>
